.container{
    background: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    height: 100vh;  
}

.box{
    width: 300px;
    height: 20rem;
    background-color: hsl(201,100%,30.2%, 0.6);
    border-radius: 5px;
    position:relative;
    top: 2rem;
    right: 1rem;
    left: 25rem;
}

/* .right{
    background-color: hsl(201,100%,30.2%, 0.6);
    border-radius: 5px;
    position:relative;
    width: 295;
    height: 500px;
    top: 5rem;
    right: 1rem;
    left: 1rem;
} */
body{
    background: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    height: 100%;
}

   
/* .left{
background-color: hwb(201 0% 40% / 0.7);
border-radius: 5px;
width: 320px ;
height: 280px;
margin-left: 24rem;
} */

form{
display: flex;
flex-direction: column;
gap: 0.5em;
}

h3 {
margin: 1rem 1rem 1rem 3rem;
color: wheat;
}

input[type=text], input[type=email], input[type=password], textarea{
padding: 5px;
border: 1px solid #959191;
border-radius: 3px;
width: 200px;
color:#959191;
background-color: #4d4b4b;
box-sizing: border-box;
margin-left: 3rem;
margin-right: 2rem;
}

label{
margin-left: 3rem;
color:wheat;
}

textarea { 
resize: vertical;
}

.btn {
border: none;
outline: none;
cursor: pointer;
border-radius: 8px;
padding: 0.8rem 0.5rem;
margin: 2rem 3rem 1rem 3rem;
color: rgb(81, 79, 79);
}

.btn .icon {
margin: 0.5rem;
}

.btn:hover {
color: white;
background-color: hwb(202 1% 80% / 0.887);
}


/* ---------------------- Contact form ---------------- */
.contact{
    width: 500px;
    height: 38rem;
    background-color: hsl(201,100%,30.2%, 0.6);
    border-radius: 5px;
    position:relative;
    top: 2rem;
    right: 1rem;
    left: 19rem;
}

.contact input[type=text], .contact input[type=email], textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 400px;
    box-sizing: border-box;
    margin-left: 3rem;
    margin-right: 2rem;
}

