.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.right{
    background-color: hsl(135, 40%, 41%);
}

.left{
    background: url('/frontend/src/assets/logo.svg');
}